#layout-menu {
    background-color: rgb(35, 52, 70) !important;
}

#layout-menu a {
    color: #fff !important;
    opacity: 0.8;
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    background-color: #696cff !important;
    opacity: 1;
}

.app-brand.demo a > h4 {
    color: rgb(255, 255, 255);
    opacity: 1;
}

.content-wrapper {
    color: black;
    font-weight: 400;
}

.container {
    padding: 2rem 0rem;
}

h4 {
    margin: 2rem 0rem 1rem;
}

.table-image {
    td,
    th {
        vertical-align: middle;
    }
}

.image {
    max-width: 50px;
    max-height: 50px;
}

.max-110 {
    width: 110px !important;
    white-space: pre-wrap !important;
}

.max-250 {
    width: 250px !important;
    white-space: pre-wrap !important;
}

#loading {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.911);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
#loading div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
